html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (max-width: 992px) {
    .mainImgProds {
        height: 130px !important;
        object-fit: cover !important;
    }

    .imgProdList {
        max-width: 106px !important;
        min-width: 106px !important;
    }

    .imgViewProduct{
        width: 100% !important;
        min-width: 100% !important;
        height: 200px !important;
    }

    .chakra-modal__content-container{
        padding: 10px !important;
    }
}